<body>
  <a href="{%url 'post:list'%}">뒤로가기</a>
  <h1>{{post.title}}</h1>
  <h2>{{post.content}}</h2>
  <h2>{{post.created_at}}</h2>
  <br />

  {%if post.anonymity == True %}
  <h4>익명</h4>
  {%else%}
  <h4>{{user.nickname}}</h4>
  {%endif%}

  <a href="{%url 'post:update' post.id %}">수정하기</a>
  <a href="{%url 'post:delete' post.id %}">삭제하기</a> <br /><br />
  공감 {{post.like.count}}개<br /><br />
  스크랩 {{post.scrap.count}}개<br /><br />
  <form method="POST" action="{%url 'post:add-like' post.id%}">
  <button type="submit" name="like">공감
  </button>
  <br />
  <form method="POST" action="{%url 'post:add-scrap' post.id%}">
  <button type="submit" name="scrap">스크랩

  </button><br />
  <hr />

  <h4>댓글</h4>
  {%for comment in post.comments.all %} {{comment.content}} -
  {{comment.author.nickname}} - {{comment.created_at}}
  <br />
  {%if request.user.is_authenticated %}
  <a href="{%url 'post:delete-comment' post.id%}">삭제하기</a>
  {%endif%}
  <br /><br />
  {%empty%} 댓글이 없습니다. {%endfor%}
  <br />
  <hr />
  <form method="POST" action="{%url 'post:create-comment' post.id%}">
    {%csrf_token%}
    <input type="text" name="content" />
    <input type="submit" value="작성" />
    <input type="checkbox" name="anonymity" />익명
  </form>
</body>
